---
import Base from '../layouts/Base.astro'
import Footer from '../components/Footer.astro'
import Photo from '../components/Photo.astro'
import { Photos } from '../photos.js'
const photos = await Photos()
---
<Base title="Dom Christie Photography">
	<header></header>
	<main aria-label="Content">
    <ol aria-label="Photographs">
			{photos.map((photo, i) => <Photo photo={photo} index={i} />)}
		</ol>
  </main>
	<Footer/>
</Base>
